@import url('https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css');
html, body {
    max-width: 780px;  /* temparary */
    margin: 0 auto;
    position: relative;
    font-family: 'NexonLv2Gothic';
}
/* Layout */
:root {
    --mColor : rgb(5, 29, 73);
}
main {
    width: 100%;
    margin: 0 auto;
}
.section {
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
}
.container {
    width: 100%;
}
.row {
    margin: 70px 0;
}

/* Header */
.header_wrap {
    width: 100%;
    height: 60px;
    background-color: var(--mColor);

    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
}
.header_wrap nav {
    padding: 0 20px;
}
.init_header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo_wrap {
    width: 40%;
    height: 100%;
    text-align: center;
    padding: 10px 0;
}
.logo_wrap a {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.logo_wrap img {
    height: 100%;
    margin-right: 10px;
    max-width: 50px;
}
.member_wrap {
    height: 100%;
    text-align: right;
}
.member_wrap a {
    width: 36px;
    height: 36px;
}
.member_wrap a.search_icon {
    margin-right: 10px;
}
.scroll_header {
    width: 100%;
    height: 100%;
    display: none;
}
.side_menu {
    height: 100vh;
    position: absolute;
    right: -400px;
    background-color: var(--mColor);
    transition: all .3s linear 0s;
}
.side_menu.active {
    right: 0;
}
.side_menu li a {
    color: #fff;
    text-transform: uppercase;
    padding: 20px 10px;
    font-size: 4vw;
}


/* Main section */
.main_section {
    position: fixed;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}
.main_section video {
    height: 100vh;
    left: -50px;
}
.main_desc {
    position: absolute;
    top: 50%;
    z-index: 100;
    color: #fff;
    padding: 0 20px;
}
.main_desc h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 40px;
    font-style: italic;
}
.main_desc p {
    font-size: .8rem;
    line-height: 1.6;
}
.main_desc p strong {
    font-size: 1rem;
}
.sroll {
    position: absolute;
    left: 20px;
    bottom: 13%;
    z-index: 100;
    color: #fff;
    font-size: .9em;
    font-weight: 200;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
}

/* Container */
.container {
    position: absolute;
    top: 100vh;
    background-color: #fff;
}

/* Intro */

.intro_cont {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;    
}
.intro_cont .cont_title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.4;
    letter-spacing: -3px;
}
.intro_cont figure {
    width: 75%;
    border-radius: 5px;
}
.intro_cont figure img {
    border-radius: 15px;
}
.intro_cont:nth-child(2n-1) {
    text-align: left;
    align-items: flex-start;
}
.intro_cont:nth-child(2n) {
    text-align: right;
    align-items: flex-end;
}
.intro_cont:last-child {
    text-align: center;
    align-items: center;
}
.intro_cont:last-child .cont_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 60px;
}
.intro_cont:last-child figure {
    width: 100%;
}

.intro_img {
    opacity: 0;
    transition: .7s;
}
.intro_img.active {
    opacity: 1;
    transition: .7s;
}
/* Goods */
.section_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.goods_section ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.goods_section li {
    width: 30%;
}
.goods_item {
    display: flex;
    flex-direction: column;
}
.goods_item img {
    border-radius: 5px;
}
.goods_item span {
    width: 100%;
    max-height: 36px;

    margin-top: 10px;
    font-size: .9em;
    line-height: 1.25;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.goods_btn {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    width: 30%;
    padding: 6px 10px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
    transition: .3s;
}
.goods_btn:hover {
    background-color: var(--mColor);
    color: #fff;
    transition: .3s;
}


/* SNS */
.sns_list {
    position: relative;
}
.grid-view {
    width: 100%;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    /* grid-template-columns: repeat(3, 1fr) */

}
.grid-view li a {
    max-width: 100%;
    height: 230px;
    /* min-height: 100px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;

    filter:brightness(.8);
    transition: .2s;
}
.grid-view li a:hover {
    filter:brightness(1);
    transition: .2s;
}

.grid-view li:nth-child(1) a {
    background-image: url(../image/sns_1.jpg);
}
.grid-view li:nth-child(2) a {
    background-image: url(../image/sns_2.jpg);
}
.grid-view li:nth-child(3) a {
    background-image: url(../image/sns_3.jpg);
}
.grid-view li:nth-child(4) a {
    background-image: url(../image/sns_4.jpg);
}
.grid-view li:nth-child(5) a {
    background-image: url(../image/sns_5.jpg);
}
.grid-view li:nth-child(6) a {
    background-image: url(../image/sns_6.jpg);
}


/* Location */
.locaiont_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.location_cont {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
}
.location_cont .location_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #dbdbdb;

    margin-bottom: 16px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.location_cont:first-child .location_img {
    background-image: url(../image/location_1.jpg);
}
.location_cont:last-child .location_img {
    background-image: url(../image/location_2.jpg);
}
.location_cont p {
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    word-break: keep-all;
}

/* Footer */
/* .foot_contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.foot_cont1 {
    width: 80%;
    height: 150px;
    background-color: #999;
} */
.footer_section {
    background-color: var(--mColor);
    color: #fff;
}
.footer_section  .row {
    margin: 40px 0;
}
.foot_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.foot_contents > div {
    padding-top: 20px;
}

.footer_logo {
    max-width: 50px;
    max-height: 50px;
}


.foot_cont_address dd {
    font-size: 0.7em;
    margin-bottom: 10px;
}
.foot_cont_address address {
    font-size: .5em;
    font-style: normal;
}


.foot_cont_sns {
    width: 35%;
}
.foot_cont_sns ul {
    display: flex;
    justify-content: space-between;
}

.foot_cont_sns ul li a {
    color: #fff;
    font-size: 0.5rem;
}
.foot_cont_sns svg {
    fill: #fff
}

.reference {
    margin-top: 50px;
    font-size: 0.7em;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .grid-view li a {
        height: 180px;
    }
}